@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

:root {
    --color-green: #50fa7b;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
}
header {
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0,0,0,0.1)
    
}
.links {
    text-align: center;
    
}
.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: initial;
    
}
.links a:hover {
    color: var(--color-green);
    transition: color 200ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
    
    font-size: 18px;

}

#wrapper img {
    border-radius: 200px;
    border: 5px solid var(--color-green);
    margin-bottom: 32px;
    height: 300px;
    
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
    opacity: 0.8;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
}











